$colorwhite: #fff;
$colorblack: #000;
$colororange: #ff8906;

.black-menu-icon{
    background-color: $colorwhite;
    color: $colorblack;
}

.white-menu-icon{
    background-color: $colorblack;
    color: $colorwhite;
}

body {
    background-color: $colorblack;
    color: $colorwhite;

    #burger-menu-icon{
        position: fixed;
        transform: scale(2);
        right: 25px;
        top: 25px;
        z-index: 1060;
        &:hover {
            color: $colororange;
            transform: scale(2.2);
        }
    }

    #burger-menu {
        position: fixed;
        background-color: $colorblack;
        color: $colorwhite;
        height: 100vh;
        width: 180px;
        right: 0;
        top: 0;
        z-index: 1070;
        border-left: 1px solid $colororange;

        #x-burger-menu {
            &:hover {
                color: $colororange;
                transform: scale(1.1);
            }
        }
    }

    a {
        text-decoration: none;
        color: $colorwhite;

        &:hover{
            color: $colororange;
            transform: scale(1.1);
        }
    }

    #welcome {
        min-height: 80vh;
    }

    #about {
        background-color: $colorwhite;
        color: $colorblack;

        h1, h2 {
            border-bottom: 3px solid $colorblack;
        }

        #avatar {
            width: 15vw;
            min-width: 100px;
        }

        td .fas {
            color: $colororange;
        }
    }

    #projects-gallery{
        .project-name{
            font-size: 3rem;
            background-color: $colorblack;
            z-index: 2;
        }

        article{
            z-index: 10;

            div {
                background-color: $colorblack;
                z-index: 2;    
                
                p {
                    padding: 0;
                    margin: 0;
                }
            }
            
            img {
                width: 98%;
            }
        }
    }

    #sitting-man{
        width: 100px;
        top: 50px;
        left: 100px;
        overflow: hidden;
    }

    footer {
        background-color: $colororange;
        color: $colorblack;
        width: 90vw;
        border-radius: 15px 15px 0 0;
        height: 50px;
    }
}